.navbar::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 10px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.navbar::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 9px;
    width: 100%;
    height: 20px;
    background-color: transparent;
}