.user-menu::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 16px;
    width: 16px;
    height: 16px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #f3f4f6; /* gray-100 */
    border-top: 1px solid #f3f4f6; /* gray-100 */
}

.user-menu::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 14px;
    width: 100%;
    height: 20px;
    background-color: transparent;
}